DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=sa
APP_NAME=Recommendations API
APP_DESCRIPTION=Multimodal recommender system with FastAPI
DEBUG=False
API_VERSION=1.0
COOKIE_NAME=RECS_API
SECRET_KEY=MY_SECRET_KEY
DATA_FILE_ID=1cbk5ZFc5hS6koj-gyF5B9sQ1EiYf7x0L
MODEL_FILE_ID=1xzXkPIyncuXe2Vm35MJn-Mai3pD1F_8_
