sqlalchemy
asyncpg
psycopg
psycopg-binary
alembic
pydantic
pydantic-settings
sqlmodel
starlette
fastapi
uvicorn
pika
passlib
python-jose
python-multipart
pytest
httpx
fastapi-analytics
fastapi-and-logging
email-validator
numpy
bcrypt==4.0.1
gdown